// about us block7

.about-us-wrap{ background-image: url(../images/b7-bg.jpg); width: 100%;
    .about-us-box{ padding-left: 80px; padding-right: 80px;
        .about-title{width: 100%; text-transform: uppercase; font-family: 'Lato', sans-serif; font-size: 46px; font-weight: 400; color: white; text-align: center; padding-top: 42px;opacity: 0; transform:translate3d(0,-40%,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
         }
        .about-subtext{width: 100%; text-transform: uppercase; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 400; color: #fccb18; text-align: center; padding-top: 25px;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
        .about-we-are{ font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 400; color: white; text-align: center; max-width: 820px; margin: 0 auto; padding-top: 14px;opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
            span{color: #fccb18;}
        }
        .about-block-man{width: 100%;padding-top: 32px;
            .half-block{ float: left; width: 50%;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
                .image-head{max-width: 90px; float: left; text-align: center;
                    .sundtext{ font-family: 'Lato', sans-serif; font-size: 12px; font-weight: 400; color: #fccb18; padding-top: 12px; padding-bottom: 20px;
                        span{text-transform: uppercase; color: white;}
                    }

                }
                .about-description{max-width: 300px; color: white; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 400; margin-left: 100px;}
            }
            .about-right{opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
            }
        }
        .undertext-submarine{color: #dbb40f; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: 400; text-align: center; max-width: 690px; margin: 0 auto;     padding-top: 29px;opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}}
        .last-header-for-button{text-transform: uppercase; font-family: 'Lato', sans-serif; font-size: 23px; font-weight: 400; color: white;    padding-top: 29px; text-align: center;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
            }
        .tipa-button{margin: 0 auto; text-align: center; padding-top: 33px; padding-bottom: 47px;opacity: 0; transform:translate3d(0,40%,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
            }
    }
}
// about us block7  end

// belive  block10
.belive-wrap { width: 100%; background-color: white;
    .belive-box{
        .belive-title{font-family: 'Lato', sans-serif; font-size: 46px; font-weight: 400; text-align: center; color: black; text-transform: uppercase; padding-top: 66px;opacity: 0; transform:translate3d(0,-40%,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
        .belive-img{
            .belive-row{padding-top: 16px; padding-bottom: 3px;opacity: 0; transform:translate3d(-20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
                .cell-element{display: inline-block; margin-left: -5px; width: calc(100%/6); text-align: center; vertical-align: middle;}
                &:first-child{margin-left: 0px;}

                &:nth-child(2){opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
                    &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
                }
            }
        }
        .undertext{margin: 0 auto; max-width:620px; text-align: center; font-family: 'Lato', sans-serif; font-size: 24px; font-weight: 700; text-align: center; color: black;padding-top: 40px;opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
        .tipa-button{text-align: center;padding-top: 48px;padding-bottom: 62px;opacity: 0; transform:translate3d(0,40%,0); transition:transform 300ms ease, opacity 400ms ease;
                &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
    }
}
// belive  block10  end

//  keys  block8
.keys-wrap{ width: 100%;
    .keys-box{
        .keys-title{font-family: 'Lato', sans-serif; font-size: 46px; font-weight: 400; text-align: center; color: black; text-transform: uppercase; padding-top: 42px;opacity: 0; transform:translate3d(0,-40%,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
        .keys-subtext{font-family: 'Lato', sans-serif; font-size: 22px; font-weight: 400; text-align: center; color: black; padding: 0 40px 41px;opacity: 0; transform:translate3d(20%,0,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
        .tipa-button{text-align: center; padding-top: 5px; padding-bottom: 63px;opacity: 0; transform:translate3d(0,40%,0); transition:transform 300ms ease, opacity 400ms ease;
            &.animated{opacity: 1;transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
        }
        .keys-slider{width: 879px; margin: 0 auto; position: relative; margin-bottom: 50px; position: relative; z-index: 1;opacity: 0; transition:transform 300ms ease, opacity 400ms ease;
                    &.animated{opacity: 1;}
            .slide-flip{ position: relative;
                .flip-block{width: 293px; height: 293px;
                    .hover-block{opacity: 0; width: 293px; height: 293px; background-color: rgba(0,0,0, 0.7); color: white; position: relative; transition: all 1s; transform: scale(0.1);
                        .just-incase{ position: absolute; bottom:0 ; padding: 10px;
                            .flip-title{font-family: 'Lato', sans-serif; font-size: 26px; font-weight: 400; text-align: left;text-transform: uppercase;  position: relative; padding-bottom: 13px;
                                &:after{ position: absolute; bottom: 0; left: 0; width: 100%; content: ''; height: 3px; background-color:#53d94c; }
                            }
                            .flip-subtext{font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 400; text-align: left; padding-top: 10px;}
                        }
                    }
                }
                .flip-block:hover{ .hover-block{opacity: 1; transform: scale(1);}}
                .foreiner1{background-image: url(../images/slide1.jpg);}
                .foreiner2{background-image: url(../images/slide2.jpg);}
                .foreiner3{background-image: url(../images/slide3.jpg);}

            }
            .slick-prev{position: absolute; font-size: 0; line-height: 0; top: calc(50% - 20px); display: block; cursor: pointer;border: none; outline: none;background: transparent; background-image: url(../images/arrow.png); height: 36px; width: 16px; left: -45px;
                &:before{ position: absolute; top: 28px; left:-5px; content:""; width: 30px; height: 3px; background-color: #53d94c; transform: rotate(54deg); transition: all 1s; }
                &:after{position: absolute;top: 5px; left:-5px; content:""; width: 30px; height: 3px; background-color: #53d94c;transform: rotate(-54deg); transition: all 1s;}
            }
            .slick-next{position: absolute; font-size: 0; line-height: 0; top: calc(50% - 20px); display: block; cursor: pointer;border: none; outline: none;background: transparent;transform:rotate(180deg) ; background-image: url(../images/arrow.png); height: 36px; width: 16px; right: -45px;
                &:before{ position: absolute; top: 28px; left:-5px; content:""; width: 30px; height: 3px; background-color: #53d94c; transform: rotate(54deg);transition: all 1s; }
                &:after{position: absolute;top: 5px; left:-5px; content:""; width: 30px; height: 3px; background-color: #53d94c;transform: rotate(-54deg); transition: all 1s;}
            }
            .slick-next:hover, .slick-prev:hover{
                &:before{background-color: black;}
                &:after{background-color: black;}
            }

            &:before, &:after {z-index: -1; position: absolute;content: "";bottom: 15px;left: 10px;width: 50%;top: 80%; background: rgba(0, 0, 0, 0.7); box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.7); transform: rotate(-3deg);}
            &:after {transform: rotate(3deg);right: 10px;left: auto; }
        }
    }
}


//  keys  block8 end

//  video  block3

.video-wrapp{width: 100%; background-image: url(../images/b3-bg.jpg); background-repeat: no-repeat; background-position: center center;
    .video-convert{ padding-top: 43px;
        .video-title{font-family: 'Lato', sans-serif; font-size: 46px; font-weight: 400; text-align: center;text-transform: uppercase;}
        .video-subtitle{font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 400; text-align: center;}
        .samo-so-boy{text-align: center; padding-top: 35px;}
        .tipa-button{text-align: center; padding-top: 37px; padding-bottom: 41px;}
    }

}

//  video  block3 end