/* button */

.button{cursor: pointer;display: inline-block;max-width: 320px;width: 100%;padding: 0 5px;text-decoration: none;height: 50px;line-height: 52px;font-size: 16px;color:#4c4c4c;font-weight: 600;text-shadow:1px 1px 1px rgba(191, 152, 13, .78);background-color: #f5c314;border-radius: 4px;text-transform: uppercase;transition:background-color 300ms ease, color 300ms ease;box-shadow:0 3px 5px 0 rgba(72, 57, 3, .35);text-align: center;
    &:hover{background-color:#ffd036;}
    &:active{background-color: #ecaf00;color:#fff;}
}

/* /button */

/* nav bar (header, footer) */

.nav-bar{position: relative;padding: 15px 0 15px 0;
    &:after{content: '';display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 1px;background-image:url(../images/header-border.png);}
    nav{float:left;max-width: 710px;width: 100%;padding-top: 7px;
        ul{display: table;width: 100%;
            li{display: table-cell;text-align: center;
                a{font-size: 14px;color: #fff;text-decoration: none;transition:color 300ms ease;
                    &:hover{color:#f5c314;}
                }
            }
        }
    }
    .header-button{float: right;max-width: 176px;width: 100%;
        .button{height: 33px;line-height: 34px;}
    }
}

/* /nav bar (header, footer) */

/* header */

.header{position: fixed;top: 0;width: 100%;background-color: transparent;transition:background-color 300ms ease;z-index: 3;
    &.scroll{background-color: rgba(0,0,0,.7);}
}

/* /header */

/* footer */

.footer-top{background-image:url(../images/footer-background.jpg);background-position: center top;
    .nav-bar{padding: 10px 0 10px 0;
        nav{padding-top: 14px;opacity: 0;transform:translate(-50%, 0);transition:opacity 400ms ease, transform 200ms ease;
            &.animated{opacity: 1;transform:translate(0,0);}
        }
        .header-button{opacity: 0;transform:translate(50%, 0);transition:opacity 400ms ease, transform 200ms ease;
            &.animated{opacity: 1;transform:translate(0, 0);}
        }
    }
}
.footer-top-bottom{padding: 18px 0 18px 0;}
.footer-logo{float: left;opacity: 0;transition:opacity 300ms ease 200ms;
    &.animated{opacity: 1;}
    img{max-width: 75%;}
}
.footer-socials{float: right;padding-top: 7px;
    .footer-social-item{display: inline-block;margin-right: 5px;opacity: 0;transform:translate(50%, 0);
        a{display: table;width: 42px;height: 41px;border:1px solid #fff;border-radius: 2px;text-align: center;background-color:transparent;transition:background-color 300ms ease, border-color 300ms ease;
            &:hover{background-color: #f5c314;border-color: #f5c314;}
            span{display: table-cell;vertical-align: middle;}
        }
        img{position: relative;}
        &:first-child{transition:opacity 400ms ease 400ms, transform 200ms ease 400ms;
            img{top:2px;left:1px;}
        }
        &:last-child{margin-right: 0;transition:opacity 400ms ease 200ms, transform 200ms ease 200ms;
            img{top:2px;left: 2px;}
        }
    }
    &.animated{
        .footer-social-item{opacity: 1;transform:translate(0, 0);}
    }
}
.footer-bottom{background-color:#191919;border-width: 1px 0;border-style:solid;border-color:#dddddd;padding: 7px 0;color:#fff;}
.footer-bottom-text{opacity: 0;transition:opacity 300ms ease 500ms;
    &.animated{opacity: 1;}
}

/* /footer */

/* section-1 */

.section-1{background-image:url(../images/section-1-bg.jpg);background-position: center top;padding: 85px 0 52px 0;overflow: hidden;}
.section-1-top{text-align: center;position: relative;margin-bottom: 48px;}
.top-logo{display: inline-block;opacity: 0;transform:translate(0, 50%);transition:opacity 400ms ease, trnasform 200ms ease;
    &.animated{opacity: 1;transform:translate(0,0);}
}
.top-award{position: absolute;top:-7px;left:10px;opacity: 0;transform:translate(-50%, 0);transition:opacity 400ms ease 100ms, trnasform 200ms ease 100ms;
    &.animated{opacity: 1;transform:translate(0,0);}
    span{font-size: 12px;text-transform: uppercase;text-align: center;color: #fec803;line-height: 1.5;position: absolute;top: 14px;left: 14px;}
}
.section-1-main{text-align: center;}
.section-1-title{margin-bottom: 40px;transform:rotateY(-90deg);transition:transform 600ms ease 300ms;
    &.animated{transform:rotateY(0);
        .section-1-title-wrap{color:#fff;}
    }
}
.section-1-title-wrap{display: inline-block;max-width: 900px;width: 100%;background-color: #52d84b;color:transparent;font-size: 39px;text-transform: uppercase;padding: 15px 10px 6px 10px;transition:color 300ms ease 400ms;
    span{font-weight: 700;}
}
.section-1-description{margin-bottom: 40px;opacity: 0;transition:opacity 300ms ease 400ms;
    &.animated{opacity: 1;}
}
.section-1-description-wrap{display: inline-block;max-width: 610px;width: 100%;padding: 10px 15px 15px 15px;border:1px solid #f5c314;font-weight: 700;font-size: 22px;color:#fff;}
.section-1-button{margin-bottom: 25px;opacity: 0;transform:translate(0, 50%);transition:opacity 400ms ease 400ms, transform 200ms ease 400ms;
    &.animated{opacity: 1;transform:translate(0,0);}
}
.section-1-learn-more{opacity: 0;transform:translate(0, 50%);transition:opacity 400ms ease 600ms, transform 200ms ease 600ms;
    &.animated{opacity: 1;transform:translate(0,0);}
}
.section-1-learn-more-wrap{display: inline-block;font-size: 16px;font-weight: 700;color:#fff;text-transform: uppercase;position: relative;cursor: pointer;transition:color 300ms ease;
    &:after{content: '';display: block;position: absolute;width: 80px;height: 44px;left: calc(50% - 40px);top: 100%;}
    &:hover{color:#f5c314;
        .section-1-learn-more-arrow{animation-play-state:paused;
            &:before, &:after{background-color: #f5c314;}
        }
    }
}
.section-1-learn-more-arrow{position: absolute;width: 80px;top: calc(100% + 15px);left: calc(50% - 40px);animation-name: arrowMoving;animation-duration: 700ms;animation-iteration-count: infinite;animation-timing-function: linear;z-index: 1;
    &:before, &:after{content: '';display: block;position: absolute;width: 45px;height: 2px;background-color: #fff;transform-origin:50% 50%;transition:background-color 300ms ease;}
    &:before{left:calc(50% - 43px);transform:rotateZ(30deg);}
    &:after{left:calc(50% - 4px);transform:rotateZ(-30deg);}
}

@keyframes arrowMoving{
    0%{margin-top: 0;}
    50%{margin-top: 10px;}
    100%{margin-top: 0;}
}

/* /section-1 */

/* section-2 */

.section-2{background-image:url(../images/section-2-bg.jpg);background-position: center top;background-repeat: no-repeat;overflow: hidden;position: relative;padding: 42px 0 20px 0;
    &:after, &:before{content: '';position: absolute;display: block;height: 1px;background-color: #50d44a;}
    &:before{bottom: 10px;left:calc((1053*100%)/1920);right: 0;}
    &:after{bottom: 0;left:calc((1048*100%)/1920);right: 0;}
}
.section-2-green-arrow{width: 100%;position: absolute;left: 0;top: 188px;height: 463px;background-image:url(../images/section-2-greenLine.png);background-repeat: no-repeat;background-position: -1920px 0;transition:background-position 300ms ease;
    &.animated{background-position: center top;}
}

.section-2-title{font-size: 46px;color:#3a3939;margin-bottom: 46px;text-align: center;text-transform: uppercase;opacity:0;transform:translate(0, 50%);transition:opacity 400ms ease, transform 200ms ease;
    &.animated{opacity: 1;transform:translate(0, 0);}
}
.section-2-left{float:left;max-width: 400px;width: 100%;padding-top: 11px;
    li{display: table;max-width: 325px;width: 100%;border-width: 4px 0px 4px 4px;border-color:#fff;border-style:solid;position: relative;min-height: 68px;padding-top: 5px;margin-bottom: 20px;margin-left: -10px;transform:rotateX(90deg);transition:transform 600ms ease 300ms;
        &.animated{transform:rotateX(0deg);}
        &:before, &:after{content: '';display: block;position:absolute;width: 4px;height:calc((100% - 50px) / 2);right: 0;background-color: #fff;}
        &:before{top:0;}
        &:after{bottom: 0;}
        &:last-child{margin-bottom: 0;}
        &:nth-child(2n){margin-left: 24px;}
        span{display: table-cell;vertical-align: middle;position: relative;font-size: 15px;font-weight: 600;color:#fff;text-transform: uppercase;padding: 0 20px 0 30px;line-height: 19px;
            &:after{content: '';display: block;position: absolute;width: 20px;height: 50px;background-image:url(../images/question-symbol.png);background-repeat: no-repeat;right: 0;margin-right: -10px;top: calc(50% - 25px);}
        }

    }
}
.section-2-right{float: right;max-width: 470px;width: 100%;text-align: right;}
.section-2-text{font-size: 32px;color:#2c2c2c;margin-bottom: 38px;opacity: 0;transform:translate(50%, 0);transition:transform 200ms ease, opacity 400ms ease;
    &.animated{opacity: 1;transform:translate(0, 0);}
    .smaller{font-size: 28px;}
}
.section-2-button{padding-top: 9px;transform:translate(0, 50%);opacity: 0;transition:opacity 400ms ease, transform 200ms ease;
    &.animated{opacity: 1;transform:translate(0,0);}
    .button{max-width: 340px;height: 59px;line-height: 62px;font-size: 18px;color:#4c4c4c;}
}

/* /section-2 */