/*section 4*/
.section-4-wrap{color: #2c2c2c;overflow: hidden;
    .mbox{padding: 0;}
    .title{text-align: center;text-transform: uppercase;letter-spacing: 1px;padding-bottom: 33px;    padding-top: 44px;
        h5{font-size: 46px;}
        p{font-size: 28px;margin-top: -3px;}
        .animate-it{opacity: 0;transform: translateY(-30%);transition:opacity ease .3s,transform ease .4s;}
        .animated{opacity: 1;transform: translateY(0);}
    }
    .section-4-items{}
    .section-4-row{position: relative;margin-bottom: 21px;
        &.reverse{
            .section-4-left-item{float: right;}
            .section-4-right-item{float: left;}
            .section-4-text{float: left;}
        }
        &.row-1{
            .section-4-left-item{padding-right: 25px;width: 48%;}
            .section-4-text{max-width:419px;padding-top: 12px;}
        }
        &.row-2{
            .section-4-left-item{padding-left: 46px;
                &:after{right: auto;left: 0;bottom: -82px;}
                &:before{right: auto;left: -9px;bottom: -92px;}
                &.animate-delay{transform: translateX(100%);}
                &.animated{transform: translateX(0);}
            }
            .section-4-text{max-width:419px;padding-top: 31px;}
            .section-4-right-item{
                &.animate-delay{transform: translateX(-100%);}
                &.animated{transform: translateX(0);}
            }
        }
        &.row-3{
            .section-4-left-item{padding-right: 25px;
            &:after{bottom: -82px;}
            &:before{bottom: -92px;}
        }
            .section-4-text{max-width:419px;padding-top: 30px;}
        }
    }
    .section-4-left-item{float: left;width: 48%;position: relative;
        &:after{position: absolute;bottom: -55px;right: 0;content: '';background-color: #50d44a;height: 1px;width: 455px;}
        &:before{position: absolute;bottom: -65px;right: -9px;content: '';background-color: #50d44a;height: 1px;width: 464px;}
        &.animate-delay{opacity: 0;transform: translateX(-100%);transition:opacity ease .4s,transform ease .5s;}
        &.animated{opacity: 1;transform: translateX(0);}
    }
    .section-4-right-item{float: left;width: 52%;
        &.animate-delay{opacity: 0;transform: translateX(100%);transition:opacity ease .4s,transform ease .5s;}
        &.animated{opacity: 1;transform: translateX(0);}
    }
    .section-4-text{float: right;font-size: 38px;
        p{}
        span{color: #f5c314;}
    }
    .button-bottom{text-align: center;padding-top: 26px;padding-bottom: 73px;
        &.animate-delay{opacity: 0;transform: translateY(-30%);transition:opacity ease .4s .3s,transform ease .5s .3s;}
        &.animated{opacity: 1;transform: translateY(0);}
    }
    .button{display: inline-block;}
}
/*/section 4*/

/*section 6*/
.section-6{color: #2c2c2c;
    .section-6-wrap{background: url('../images/section-6-bg.jpg') center center no-repeat;background-size: cover;}
    .title{text-align: center;text-transform: uppercase;letter-spacing: 1px;padding-bottom: 36px;    padding-top: 44px;
        h5{font-size: 46px;}
        p{font-size: 28px;margin-top: -3px;}
        .animate-it{opacity: 0;transform: translateY(-30%);transition:opacity ease .3s,transform ease .3s;}
        .animated{opacity: 1;transform: translateY(0);}
    }
    .item{
        &.animate-delay{opacity: 0;transform: scale(0);transition:all 300ms;}
        &.animated{opacity: 1;transform: scale(1);}
    }
    .section-6-row{
        .item{float: left;width: 33.33%;text-align: center;}
        .item-1{transition-delay:0.1s;
            .item-wrap{margin-left: -155px;}
        }
        .item-3{transition-delay:0.4s;
            .item-wrap{
                 &:after{bottom: -92px; right: -106px;width: 231px}
            }
        }
        .item-5{transition-delay:0.4s;
            .item-text{padding-bottom: 30px;max-width: 214px;}
            .item-wrap{margin-right: -189px;
                &:after{display: none;}
            }
        }
        &.row-2{padding-top: 154px;
            .item{width: 50%;}
            .item-text{padding-bottom: 0px;padding-top: 20px;}

            .item-2{transition-delay:0.1s;
                .item-wrap{padding-left: 81px;
                    &:after{bottom: auto;top: -81px;transform: rotate(-45deg);}
                }
            }
            .item-4{transition-delay:0.2s;
                .item-wrap{
                    &:after{bottom: auto;top: -77px;right: -49px;width: 178px;transform: rotate(-47deg);}
                }
            }
        }
    }

    .item-wrap{display: inline-block;position: relative;
        &:after{content: '';height: 9px;width: 203px;background: url('../images/bubles.png') left center repeat-x;bottom: -84px;right: -93px;position: absolute;transform: rotate(45deg);}
    }
    .item-text{font-size: 24px;padding-bottom: 60px;     line-height: 30px;}
    .item-count{font-size: 70px;color: #52d84b;position: relative; line-height: 70px;
        &:after{height: 100px;width: 100px;position: absolute;top: -15px;left: 50%;transform: translateX(-50%);content: '';border-radius: 50%;border:2px solid #fcb815;}
    }
    .button-bottom{text-align: center;padding-top: 37px;padding-bottom: 53px;
        &.animate-delay{opacity: 0;transform: translateY(-30%);transition:all 300ms;transition-delay:0.5s;}
        &.animated{opacity: 1;transform: translateY(0);}
    }
    .button{display: inline-block;}
}
/*/section 6*/

/*section 9*/
.section-9-wrap{background: url('../images/section-9-bg.jpg') center center no-repeat;background-size: cover;min-height: 648px;
    .title{text-align: center;padding-top: 20px;padding-bottom: 10px;
        h5{font-size: 46px;color: white;}
        .animate-delay{opacity: 0;transform: translateY(-30%);transition:opacity ease .3s,transform ease .3s;}
        .animated{opacity: 1;transform: translateY(0);}
    }
    .section-9-slider{min-height: 450px;
        &.animate-delay{opacity: 0;transition:opacity ease .3s,transform ease .4s;}
        &.animated{opacity: 1;}
    }
    .item-slide-img{width: 156px;height: 156px;border-radius: 50%;overflow: hidden;position: relative;border:2px solid #d8d8d8;margin:0 auto;
        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;height: 100%;z-index: 1;}
    }
    .slick-prev{position: absolute; font-size: 0; line-height: 0; top: calc(24% - 20px); display: block; cursor: pointer;border: none; outline: none;background: transparent; background-image: url(../images/arrow.png); height: 36px; width: 16px; left: -30px;
        &:before{ position: absolute; top: 28px; left:-5px; content:""; width: 30px; height: 3px; background-color: #fff; transform: rotate(54deg); transition: all 1s; }
        &:after{position: absolute;top: 5px; left:-5px; content:""; width: 30px; height: 3px; background-color: #fff;transform: rotate(-54deg); transition: all 1s;}
    }
    .slick-next{position: absolute; font-size: 0; line-height: 0; top: calc(24% - 20px); display: block; cursor: pointer;border: none; outline: none;background: transparent;transform:rotate(180deg) ; background-image: url(../images/arrow.png); height: 36px; width: 16px; right: -30px;
        &:before{ position: absolute; top: 28px; left:-5px; content:""; width: 30px; height: 3px; background-color: #fff; transform: rotate(54deg);transition: all 1s; }
        &:after{position: absolute;top: 5px; left:-5px; content:""; width: 30px; height: 3px; background-color: #fff;transform: rotate(-54deg); transition: all 1s;}
    }
    .slick-next:hover, .slick-prev:hover{
        &:before{background-color: black;}
        &:after{background-color: black;}
    }
    .item-slide-hidden{width: 770px;display: inline-block;display: none;margin-left: -78%;background-color: #fef9db;padding: 5px;border-radius: 5px;position: relative;
    }
    .item-slide-hidden-wrap{border:2px dotted #494842;border-radius: 5px;position: relative;
        &:after{position: absolute;content: '';height: 20px;width: 20px;top: -14px;left: 50%;transform: translateX(-50%) rotate(45deg);background-color: #fef9db;z-index: 1;}
        &:before{position: absolute;content: '';height: 15px;width: 15px;top: -9px;left: 50%;transform: translateX(-50%) rotate(45deg);border-top:2px dotted #494842;border-left:2px dotted #494842;z-index: 2;}
    }
    .section-9-slider{margin:0 0px;}
    .item-slide-text{text-align: center;transition:all ease .4s;opacity: 1;visibility: visible;font-size: 18px;color: #1c1c1c;text-transform: uppercase;padding-top: 11px;padding-bottom: 5px;}

    .item-slide.slick-center{text-align: center;
        .item-slide-text{visibility: hidden;opacity: 0;}
        .item-slide-hidden{display: inline-block;}
    }
    .item-slide-hidden-title{font-size: 24px;color: #1c1c1c;text-transform: uppercase;padding-top: 17px;font-weight: bold;font-family: "Open Sans",sans-serif;font-weight: bold;}
    .item-slide-hidden-text{max-width: 608px;margin: 0 auto;padding-top: 20px;font-family: "Open Sans",sans-serif;font-size: 14px;color: #1c1c1c;text-align: left;padding-bottom: 35px;position: relative;
        &:after{width: 31px;height: 23px;content: '';position: absolute;top: 12px;left: -43px;background: url('../images/kv.png') center center no-repeat;}
    }
    .item-slide-hidden-subtitle{color: #7a7a7a;font-family: "Open Sans",sans-serif;font-size: 14px;}
    .button-bottom{text-align: center;padding-top: 21px;padding-bottom: 43px;
        &.animate-delay{opacity: 0;transform: translateY(-30%);transition:all .3s; transition-delay:0.7s;}
        &.animated{opacity: 1;transform: translateY(0);}
    }
    .button{display: inline-block;}
}
/*/section 9*/