    <div class="footer_placeholder"></div>
    <footer class="footer animate-section">
        <div class="footer-top">

            <div class="nav-bar">
                <div class="mbox">

                    <nav class="animate-it">
                        <ul>
                            <li>
                                <a href="#section-2">Зачем?</a>
                            </li>
                            <li>
                                <a href="#section-3">О системе</a>
                            </li>
                            <li>
                                <a href="#section-4">Преимущества</a>
                            </li>
                            <li>
                                <a href="#section-6">Как работает?</a>
                            </li>
                            <li>
                                <a href="#section-7">О нас</a>
                            </li>
                            <li>
                                <a href="#section-8">Наши кейсы</a>
                            </li>
                            <li>
                                <a href="#section-9">Нам доверяют</a>
                            </li>
                            <li>
                                <a href="#section-10">Отзывы</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-button animate-it">
                        <a href="#call-popup" class="button fancybox">Задать вопрос</a>
                    </div>

                </div>

            </div>

            <div class="footer-top-bottom">
                <div class="mbox">
                    <div class="footer-logo animate-it">
                        <img src="images/top-logo.png" alt="" />
                    </div>
                    <div class="footer-socials animate-it">
                        <div class="footer-social-item">
                            <a href="#">
                                <span>
                                    <img src="images/soc1.png" alt="" />
                                </span>
                            </a>
                        </div>
                        <div class="footer-social-item">
                            <a href="#">
                                <span>
                                    <img src="images/soc2.png" alt="" />
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <div class="mbox">
                <div class="footer-bottom-text animate-it">2014 / Все права защищены Golden Marrow design &#38; branding</div>
            </div>
        </div>

    </footer>

</body>
</html>