<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta id="viewport" name="viewport" content="width=1280,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="MobileOptimized" content="1280"/>
    <meta name="HandheldFriendly" content="false"/>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>
<body>