<header class="header">
    <div class="nav-bar">
        <div class="mbox">

            <nav>
                <ul>
                    <li>
                        <a href="#section-2">Зачем?</a>
                    </li>
                    <li>
                        <a href="#section-3">О системе</a>
                    </li>
                    <li>
                        <a href="#section-4">Преимущества</a>
                    </li>
                    <li>
                        <a href="#section-6">Как работает?</a>
                    </li>
                    <li>
                        <a href="#section-7">О нас</a>
                    </li>
                    <li>
                        <a href="#section-8">Наши кейсы</a>
                    </li>
                    <li>
                        <a href="#section-9">Нам доверяют</a>
                    </li>
                    <li>
                        <a href="#section-10">Отзывы</a>
                    </li>
                </ul>
            </nav>
            <div class="header-button">
                <a href="#call-popup" class="fancybox button">Задать вопрос</a>
            </div>
        </div>

    </div>
</header>

