<div class="hidden-block">

    <div id="call_success">
             <div class="call_success">
                 <div class="call-title">Спасибо</div>
                 <div class="call-subtitle">в ближайшее время мы ответим на Ваш, вопрос</div>
             </div>
    </div>

    <div id="call_success2">
             <div class="call_success2">
                 <div class="call-title">
                    <p>Спасибо, сразу после запуска проекта,</p>
                    <p>мы отправим Вам письмо</p>
                    <p>с доступом к сервису!</p>
                    <p>Расскажите о нас своим друзьям,</p>
                    <p>и мы подарим Вам бесплатный доступ на вебинар по неймингу</p>
                    <p>с экспертом нашего агентства!</p>
                 </div>

                 <div class="call-icons">
                     <a href="#" class="fb">f</a>
                     <a href="#" class="vk">В</a>
                 </div>
             </div>
    </div>
    <div id="call-popup">
        <form action="ajax.php" name=""class="contact-form">
            <div class="contact-form-title">
                <h5>задайте Ваш вопрос</h5>

            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" id="contact_name" class="contact_name" required="required" value="" placeholder="Ваше Имя" >
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="form_row">
                        <div class="form_input">
                            <input type="email" name="userEmail" required="required" placeholder="Ваш E-mail" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="form_row">
                        <div class="form_input">
                            <textarea name="" id="" cols="13" name="contact_textarea" rows="10" placeholder="Ваш вопрос:"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit button">
                        <span>Получить ответ</span>
                    </button>
                </div>
            </div>
        </form>
    </div>



    <div id="call-popup2">
        <form action="ajax.php" name=""class="contact-form2">
            <div class="contact-form-title">
                <h5>Введите данные для регистрации</h5>

            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" id="contact_name" class="contact_name" required="required" value="" placeholder="Ваше Имя" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="form_row">
                        <div class="form_input">
                            <input type="email" name="userEmail" required="required" placeholder="Ваш E-mail" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit button">
                        <span>Получить доступ</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>