<section class="section-1">

    <div class="mbox">

        <div class="section-1-top">
            <div class="top-logo">
                <img src="images/top-logo.png" alt="" />
            </div>

            <div class="top-award">
                <img src="images/top-award.png" alt="" />
            </div>
        </div>

        <div class="section-1-main">
            <div class="section-1-title">
                <div class="section-1-title-wrap">
                    <p>Первая в мире онлайн система</p>
                    <p>по созданию названий <span>«под ключ»!</span></p>
                </div>
            </div>
            <div class="section-1-description">
                <div class="section-1-description-wrap">
                    <p>Хочешь одним из первых в России получить доступ</p>
                    <p>к уникальным методикам разработки названий?</p>
                    <p>Тогда присоединяйся к нам!</p>
                </div>
            </div>
            <div class="section-1-button">
                <a href="#" class="button">Получить доступ</a>
            </div>
            <div class="section-1-learn-more">
                <span>Узнать подробнее</span>
            </div>
        </div>

    </div>

</section>