<section class="section-2">

    <div class="mbox">

        <div class="section-2-title">
            <p>Кому необходим наш</p>
            <p>онлайн-сервис?</p>
        </div>

        <div class="section-2-main cfix">
            <div class="section-2-left">
                <ul>
                    <li>
                        <span>Запускаете новый продукт или услугу</span>
                    </li>
                    <li>
                        <span>Нет идей для нового названия</span>
                    </li>
                    <li>
                        <span>не знаете, с чего Вам начать</span>
                    </li>
                    <li>
                        <span>Нужно звучное, уникальное название</span>
                    </li>
                    <li>
                        <span>Не знаете как его защитить</span>
                    </li>
                </ul>
            </div>
            <div class="section-2-right">
                <div class="section-2-text">
                    <p>Первый в мире онлайн-сервис</p>
                    <p>по созданию названий!</p>
                </div>
                <div class="section-2-text">
                    <p>Получите готовое название</p>
                    <p>за 5 шагов!</p>
                </div>
                <div class="section-2-text">
                    <p>Процесс креатива</p>
                    <p>полностью систематизирован!</p>
                </div>
                <div class="section-2-button">
                    <a href="#" class="button">Получить доступ</a>
                </div>
            </div>
        </div>

    </div>

</section>