<section class="section-6">
    <div class="section-6-wrap">
        <div class="mbox">
            <div class="title animate-section">
                <h5 class="animate-it">5 шагов</h5>
                <p class="animate-it">до идеального названия!</p>
            </div>
            <div class="section-6-items animate-section">
                <div class="section-6-row row-1 cfix">
                    <div class="item item-1 animate-delay">
                        <div class="item-wrap">
                            <div class="item-text">Заполнение брифа</div>
                            <div class="item-count">1</div>
                        </div>
                    </div>
                    <div class="item item-3 animate-delay">
                        <div class="item-wrap">
                            <div class="item-text">Оценка по критериям </div>
                            <div class="item-count">3</div>
                        </div>
                    </div>
                    <div class="item item-5 animate-delay">
                        <div class="item-wrap">
                            <div class="item-text">Подача заявления на регистраци</div>
                            <div class="item-count">5</div>
                        </div>
                    </div>
                </div>
                <div class="section-6-row row-2 cfix">
                    <div class="item item-2 animate-delay">
                        <div class="item-wrap">
                            <div class="item-count">2</div>
                            <div class="item-text">Создание названий</div>
                        </div>
                    </div>
                    <div class="item item-4 animate-delay">
                        <div class="item-wrap">
                            <div class="item-count">4</div>
                            <div class="item-text">Проверка в Роспатенте</div>
                        </div>
                    </div>
                </div>
                <div class="button-bottom animate-delay"><a href="#" class="button">Получить доступ</a></div>
            </div>
        </div>
    </div>
</section>