<section class="section-4">
    <div class="section-4-wrap">
        <div class="title animate-section">
            <h5 class="animate-it">Нейминг с нами</h5>
            <p class="animate-it">это игра в слова, рождающая бренд</p>
        </div>
        <div class="section-4-items animate-section">
            <div class="section-4-row row-1 cfix">
                <div class="section-4-left-item cfix animate-delay">
                    <div class="section-4-text">
                        <p><span>16</span> инструментов нейминга для создания любых форм названий</p>
                    </div>
                </div>
                <div class="section-4-right-item animate-delay">
                    <div class="section-img">
                        <img src="images/sect-4-img-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section-4-row row-2 cfix reverse">
                <div class="section-4-left-item cfix animate-delay">
                    <div class="section-4-text">
                        <p>Краткие видеоуроки к каждому инструменту</p>
                    </div>
                </div>
                <div class="section-4-right-item animate-delay">
                    <div class="section-img">
                        <img src="images/sect-4-img-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section-4-row row-3 cfix">
                <div class="section-4-left-item cfix animate-delay">
                    <div class="section-4-text">
                        <p>Проверка названий в базе Роспатента</p>
                    </div>
                </div>
                <div class="section-4-right-item animate-delay">
                    <div class="section-img">
                        <img src="images/sect-4-img-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="button-bottom animate-delay"><a href="#call-popup2" class="button fancybox">Получить доступ</a></div>

        </div>
    </div>
</section>