<section class="section-3" id ="section-3">
    <div class="video-wrapp animate-section">
        <div class="video-convert mbox">
            <div class="video-title animate-delay">Видео Презентация</div>
            <div class="video-subtitle animate-delay">Смотрите видеопрезентацию к вебинару об успешном нейминге</div>
            <div class="samo-so-boy animate-delay">
                <iframe width="653" height="364" src="https://www.youtube.com/embed/KAQhG59zqZc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="tipa-button animate-delay">
                <a href="#" class="button">Получить доступ</a>
            </div>
        </div>
    </div>


</section>