<section class="section-7" id='section-7'>
    <div class="about-us-wrap">
        <div class="about-us-box mbox">
            <div class="about-title">О нас</div>
            <div class="about-subtext">“Мы работаем с успешными компаниями - с нами приходит успех”</div>
            <div class="about-we-are"> <span>Golden Marrow</span> - успешное брендинговое агентство, реализовавшее более 500 проектов для своих клиентов, как для крупного бизнеса, так и для многих компаний в сфере услуг и успешных стартапов, ребрендингов. </div>
            <div class="about-block-man cfix">
                <div class="about-left half-block">
                    <div class="image-head">
                        <img src="images/brain1.png" alt="">
                        <div class="sundtext"><span>Миссия</span> Golden Marrow </div>
                    </div>
                    <div class="about-description">Давать рынку качественные рабочие проекты и свежие решения, профессионально воплощенные в жизнь с учетом реалий рынка.</div>
                </div>
                <div class="about-right half-block">
                    <div class="image-head">
                        <img src="images/brain2.png" alt="">
                        <div class="sundtext"> <span>Философия</span>  Golden Marrow </div>
                    </div>
                    <div class="about-description">Мы против фейков, фестивалей и самовыражения ради самовыражения. Мы - бизнес, который работает для бизнесаи решает его конкретные маркетинговые задачи.</div>
                </div>
            </div>
            <div class="undertext-submarine">Успех любого проекта зависит от системного выполнения действий. Мы создали уникальный сервис, опираясь на большой опыт практики наших специалистов</div>
            <div class="last-header-for-button">Получите доступ и создайте свое идеальное название!</div>
            <div class="tipa-button">
                <div class="button"></div>
            </div>
        </div>
    </div>
</section>