<section class="section-8" id="section-8">
    <div class="keys-wrap">
        <div class="keys-box mbox animate-section">
            <div class="keys-title animate-delay">Наши кейсы по неймингу</div>
            <div class="keys-subtext animate-delay">Мы разработали множество проектов по неймингу, посмотрите на наши кейсы, с онлайн-сервисом Вы сможете добиваться серьезных результатов!</div>
            <div class="keys-slider animate-delay">
                <div class="slide-flip">
                    <div class="flip-block foreiner1">
                        <div class="hover-block">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-flip">
                    <div class="flip-block foreiner2">
                        <div class="hover-block ">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-flip ">
                    <div class="flip-block foreiner3">
                        <div class="hover-block ">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-flip ">
                    <div class="flip-block foreiner3">
                        <div class="hover-block ">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-flip ">
                    <div class="flip-block foreiner3">
                        <div class="hover-block ">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-flip ">
                    <div class="flip-block foreiner3">
                        <div class="hover-block ">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-flip ">
                    <div class="flip-block foreiner3">
                        <div class="hover-block ">
                            <div class="just-incase">
                                <div class="flip-title">BENFIN</div>
                                <div class="flip-subtext">Разработка бренда в сегменте страховых услуг, создание нового бренда BENFIN. Разработка бренда с нуля: стратегия, нейминг, логотип, фирменный стиль, брендбук, сайт.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tipa-button animate-delay">
                <a href="#call-popup2" class="button fancybox">Получить доступ</a>
            </div>
        </div>
    </div>


</section>