<section class="section-9" id="section-9">
    <div class="section-9-wrap">
        <div class="mbox animate-section">
            <div class="title ">
                <h5 class="animate-delay">ОТЗЫВЫ</h5>
            </div>
            <div class="section-9-slider animate-delay">
                <div class="item-slide">
                    <div class="item-slide-img">
                        <img src="images/item-slide-1.jpg" alt="">
                    </div>
                    <div class="item-slide-text">Анна Иванова</div>
                    <div class="item-slide-hidden">
                        <div class="item-slide-hidden-wrap">
                            <div class="item-slide-hidden-title">Екатерина Костромина</div>
                            <div class="item-slide-hidden-subtitle">Генеральный директор ООО "НАФКО-Консультанты"</div>
                            <div class="item-slide-hidden-text">
                                <p>На самом деле, много хорошего можно сказать о компании Golden Marrow, и с которыми много лет у нас складываются профессиональные, доверительные отношения. Своим успехом мы во многом обязаны опыту экспертов Golden Marrow. Мы получили действительно качественный продукт, оправдывающий вложения.</p>
                                <p>Своим успехом мы во многом обязаны опыту экспертов Golden Marrow.</p>
                                <p>В общем, мы не пожалели, что выбрали именно Golden Marrow . Спасибо!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide">
                    <div class="item-slide-img">
                        <img src="images/item-slide-2.jpg" alt="">
                    </div>
                    <div class="item-slide-text">Екатерина Костромина</div>
                    <div class="item-slide-hidden">
                        <div class="item-slide-hidden-wrap">
                            <div class="item-slide-hidden-title">Екатерина Костромина</div>
                            <div class="item-slide-hidden-subtitle">Генеральный директор ООО "НАФКО-Консультанты"</div>
                            <div class="item-slide-hidden-text">
                                <p>На самом деле, много хорошего можно сказать о компании Golden Marrow, и с которыми много лет у нас складываются профессиональные, доверительные отношения. Своим успехом мы во многом обязаны опыту экспертов Golden Marrow. Мы получили действительно качественный продукт, оправдывающий вложения.</p>
                                <p>Своим успехом мы во многом обязаны опыту экспертов Golden Marrow.</p>
                                <p>В общем, мы не пожалели, что выбрали именно Golden Marrow . Спасибо!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide">
                    <div class="item-slide-img">
                        <img src="images/item-slide-3.jpg" alt="">
                    </div>
                    <div class="item-slide-text">Денис Васильев</div>
                    <div class="item-slide-hidden">
                        <div class="item-slide-hidden-wrap">
                            <div class="item-slide-hidden-title">Денис Васильев</div>
                            <div class="item-slide-hidden-subtitle">Генеральный директор ООО "НАФКО-Консультанты"</div>
                            <div class="item-slide-hidden-text">
                                <p>На самом деле, много хорошего можно сказать о компании Golden Marrow, и с которыми много лет у нас складываются профессиональные, доверительные отношения. Своим успехом мы во многом обязаны опыту экспертов Golden Marrow. Мы получили действительно качественный продукт, оправдывающий вложения.</p>
                                <p>Своим успехом мы во многом обязаны опыту экспертов Golden Marrow.</p>
                                <p>В общем, мы не пожалели, что выбрали именно Golden Marrow . Спасибо!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide">
                    <div class="item-slide-img">
                        <img src="images/item-slide-1.jpg" alt="">
                    </div>
                    <div class="item-slide-text">Анна Иванова</div>
                    <div class="item-slide-hidden">
                        <div class="item-slide-hidden-wrap">
                            <div class="item-slide-hidden-title">Екатерина Костромина</div>
                            <div class="item-slide-hidden-subtitle">Генеральный директор ООО "НАФКО-Консультанты"</div>
                            <div class="item-slide-hidden-text">
                                <p>На самом деле, много хорошего можно сказать о компании Golden Marrow, и с которыми много лет у нас складываются профессиональные, доверительные отношения. Своим успехом мы во многом обязаны опыту экспертов Golden Marrow. Мы получили действительно качественный продукт, оправдывающий вложения.</p>
                                <p>Своим успехом мы во многом обязаны опыту экспертов Golden Marrow.</p>
                                <p>В общем, мы не пожалели, что выбрали именно Golden Marrow . Спасибо!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide">
                    <div class="item-slide-img">
                        <img src="images/item-slide-2.jpg" alt="">
                    </div>
                    <div class="item-slide-text">Екатерина Костромина</div>
                    <div class="item-slide-hidden">
                        <div class="item-slide-hidden-wrap">
                            <div class="item-slide-hidden-title">Екатерина Костромина</div>
                            <div class="item-slide-hidden-subtitle">Генеральный директор ООО "НАФКО-Консультанты"</div>
                            <div class="item-slide-hidden-text">
                                <p>На самом деле, много хорошего можно сказать о компании Golden Marrow, и с которыми много лет у нас складываются профессиональные, доверительные отношения. Своим успехом мы во многом обязаны опыту экспертов Golden Marrow. Мы получили действительно качественный продукт, оправдывающий вложения.</p>
                                <p>Своим успехом мы во многом обязаны опыту экспертов Golden Marrow.</p>
                                <p>В общем, мы не пожалели, что выбрали именно Golden Marrow . Спасибо!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-slide">
                    <div class="item-slide-img">
                        <img src="images/item-slide-3.jpg" alt="">
                    </div>
                    <div class="item-slide-text">Денис Васильев</div>
                    <div class="item-slide-hidden">
                        <div class="item-slide-hidden-wrap">
                            <div class="item-slide-hidden-title">Денис Васильев</div>
                            <div class="item-slide-hidden-subtitle">Генеральный директор ООО "НАФКО-Консультанты"</div>
                            <div class="item-slide-hidden-text">
                                <p>На самом деле, много хорошего можно сказать о компании Golden Marrow, и с которыми много лет у нас складываются профессиональные, доверительные отношения. Своим успехом мы во многом обязаны опыту экспертов Golden Marrow. Мы получили действительно качественный продукт, оправдывающий вложения.</p>
                                <p>Своим успехом мы во многом обязаны опыту экспертов Golden Marrow.</p>
                                <p>В общем, мы не пожалели, что выбрали именно Golden Marrow . Спасибо!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-bottom animate-delay"><a href="#call-popup2" class="button fancybox">Получить доступ</a></div>
        </div>
    </div>
</section>