<section class="section-2 animate-section" id="section-2">

    <div class="section-2-green-arrow animate-it"></div>

    <div class="mbox">

        <div class="section-2-title animate-it">
            <p>Кому необходим наш</p>
            <p>онлайн-сервис?</p>
        </div>

        <div class="section-2-main cfix">
            <div class="section-2-left">
                <ul>
                    <li class="animate-delay">
                        <span>Запускаете новый продукт или услугу</span>
                    </li>
                    <li class="animate-delay">
                        <span>Нет идей для нового названия</span>
                    </li>
                    <li class="animate-delay">
                        <span>не знаете, с чего Вам начать</span>
                    </li>
                    <li class="animate-delay">
                        <span>Нужно звучное, уникальное название</span>
                    </li>
                    <li class="animate-delay">
                        <span>Не знаете как его защитить</span>
                    </li>
                </ul>
            </div>
            <div class="section-2-right">
                <div class="section-2-text animate-delay">
                    <p>Первый в мире онлайн-сервис</p>
                    <p>по созданию названий!</p>
                </div>
                <div class="section-2-text animate-delay">
                    <p>Получите готовое название</p>
                    <p>за 5 шагов!</p>
                </div>
                <div class="section-2-text animate-delay">
                    <p>Процесс креатива</p>
                    <p class="smaller">полностью систематизирован!</p>
                </div>
                <div class="section-2-button animate-delay">
                    <a href="#call-popup2" class="button fancybox">Получить доступ</a>
                </div>
            </div>
        </div>

    </div>

</section>