<section class="section-1 animate-section">

    <div class="mbox">

        <div class="section-1-top">
            <div class="top-logo animate-it">
                <img src="images/top-logo.png" alt="" />
            </div>

            <div class="top-award animate-it">
                <img src="images/bg-wreath.png" alt="" />
                <span>Эксперт<br>в области<br>брендинга</span>
            </div>
        </div>

        <div class="section-1-main">
            <div class="section-1-title animate-it">
                <div class="section-1-title-wrap">
                    <p>Первая в мире онлайн система</p>
                    <p>по созданию названий <span>«под ключ»!</span></p>
                </div>
            </div>
            <div class="section-1-description animate-it">
                <div class="section-1-description-wrap">
                    <p>Хочешь одним из первых в России получить доступ</p>
                    <p>к уникальным методикам разработки названий?</p>
                    <p>Тогда присоединяйся к нам!</p>
                </div>
            </div>
            <div class="section-1-button animate-it">
                <a href="#call-popup2" class="fancybox button">Получить доступ</a>
            </div>
            <div class="section-1-learn-more animate-it">
                <span class="section-1-learn-more-wrap">Узнать подробнее
                    <span class="section-1-learn-more-arrow"></span>
                </span>
            </div>
        </div>

    </div>

</section>