<section class="section-4">
    <div class="section-4-wrap">
        <div class="title">
            <h5>Нейминг с нами</h5>
            <p>это игра в слова, рождающая бренд</p>
        </div>
        <div class="section-4-items">
            <div class="section-4-row row-1 cfix">
                <div class="section-4-left-item cfix">
                    <div class="section-4-text">
                        <p><span>16</span> инструментов нейминга для создания любых форм названий</p>
                    </div>
                </div>
                <div class="section-4-right-item">
                    <div class="section-img">
                        <img src="images/sect-4-img-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section-4-row row-2 cfix reverse">
                <div class="section-4-left-item cfix">
                    <div class="section-4-text">
                        <p>Краткие видеоуроки к каждому инструменту</p>
                    </div>
                </div>
                <div class="section-4-right-item">
                    <div class="section-img">
                        <img src="images/sect-4-img-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="section-4-row row-3 cfix">
                <div class="section-4-left-item cfix">
                    <div class="section-4-text">
                        <p>Проверка названий в базе Роспатента</p>
                    </div>
                </div>
                <div class="section-4-right-item">
                    <div class="section-img">
                        <img src="images/sect-4-img-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>