<section class="section-10" id="section-10">
    <div class="belive-wrap">
        <div class="belive-box mbox animate-section">
            <div class="belive-title animate-delay">Нам доверяют</div>
            <div class="belive-img">
                <div class="belive-row animate-delay">
                    <div class="cell-element"> <img src="images/i11.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i12.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i13.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i14.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i15.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i16.jpg" alt="" /> </div>
                </div>
                <div class="belive-row animate-delay">
                    <div class="cell-element"> <img src="images/i21.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i22.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i23.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i24.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i25.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i26.jpg" alt="" /> </div>
                </div>
                <div class="belive-row animate-delay">
                    <div class="cell-element"> <img src="images/i31.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i32.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i33.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i34.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i35.jpg" alt="" /> </div>
                    <div class="cell-element"> <img src="images/i36.jpg" alt="" /> </div>
                </div>
            </div>
            <div class="undertext animate-delay">Мы принимали участие в создании и развитии более чем 50 проектов для наших клиентов.</div>
            <div class="tipa-button animate-delay">
                <a href="#call-popup2" class="button fancybox"">Получить доступ</a>
            </div>
        </div>
    </div>
</section>